<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SimpleToggleTrueDummy.IsEnabled" value="true"/>
    
    <add key="SimpleToggleFalseDummy.IsEnabled" value="false"/>
    
    <add key="TrueDateTimeDummy.StartDate" value="1900-01-01"/>
    
    <add key="FalseDateTimeDummy.StartDate" value="2900-01-01"/>
    
    <add key="TrueStartAndEndDateTimeDummy.StartDate" value="1900-01-01"/>
    <add key="TrueStartAndEndDateTimeDummy.EndDate" value="2900-01-01"/>
    
    <add key="FalseStartAndEndDateTimeDummy.StartDate" value="1900-01-01"/>
    <add key="FalseStartAndEndDateTimeDummy.EndDate" value="1900-10-01"/>
    
    <add key="FalseFutureStartAndEndDateTimeDummy.StartDate" value="2900-01-01"/>
    <add key="FalseFutureStartAndEndDateTimeDummy.EndDate" value="2900-10-01"/>
  </appSettings>
</configuration>